.third_step {
  display: flex;
  flex-direction: column;
  gap: 60px;
  width: 100%;
}
.third_step_container {
  width: 100%;
  padding-top: 30px;
}
.form_control_third_step {
  display: flex;
  flex-direction: column;
  gap: 11px;
  color: #333;
  font-family: Open Sans;
  font-size: 20px;
  font-weight: 400;
}
.third_step .input_form_control::placeholder {
  color: #8692a6;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}
.input_form_control:not(:placeholder-shown) {
  color: #333;
  font-family: Open Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
@media (max-width: 1100px) {
  .third_step_container {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .form_control_third_step {
    font-size: 16px;
    padding-top: 30px;
    width: 100%;
  }
  .input_form_control:not(:placeholder-shown) {
    font-size: 16px;
  }
  .third_step .input_form_control::placeholder {
    font-size: 16px;
  }
  .third_step .input_form_control {
    width: 100%;
    max-width: 100vw;
  }
  .third_step_container {
    width: 100%;
  }
}
